body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #454545;
    margin: 0;
}

.navbutton {
    border-radius: 8px;
    border-width: 5px;
    border-color: linear-gradient(to right, #000, #212121);
    background-color: transparent;
    padding: 10px;
    font-size: 50px;
    margin: 8px;
    color: #F5f5f5;
}

.navbar {
    background: radial-gradient(circle, #454545, #000);
    text-align: center;
    border-radius: 28px;
    opacity: 100%;
    padding: 10px;
    position: relative;
    margin: auto; 
    margin-top: 32px;
    width: 95%;
    color: #858585;
    font-size: 30px;
    text-shadow:
    -1px -1px 2px #f5f5f5,  
    1px -1px 2px #f5f5f5,
    -1px 1px 2px #f5f5f5,
    1px 1px 2px #f5f5f5;
}

.heading {
    text-align: center;
}

.content {
    background: linear-gradient(to bottom, #454545 75%, #303030 95%, #000);
    text-align: center;
    color: #f5f5f5;
} 

.main {
    font-size: 36px;
    
}

.footing {
    text-align: center;
    font-size: 20px;
}

a:visited {
    color: #858585;

}

a {
    color: #FFF;
}

.githubLink:hover {
    cursor: pointer;
}

.downloads {
    text-align: center;

}

.DownloadLinks {
    text-align: center;

}

.downloadButtons {
    border-radius: 100px;
    padding: 20px;
    background-color: #303030;
    color: #f5f5f5;
    border-width: 5px;
    border-color: #858585;
    margin-top: 10px;
    margin-bottom: 10px;
}

.twitchLink {
    border-top-right-radius: 20px;
    padding: 10px;
    border-top-left-radius: 20px;
    width: 70px;
    text-align: center;
    background-color: #8e45f7;
    color: #f5f5f5;
    text-shadow: 1px 1px 2px #000;
}

.twitchLink:hover {
    transition: 0.15s;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.5);
}

.twitchLink:active {
    transform: scaleX(0.0001) scaleY(0.0001);
    transition: 2s;
    opacity: 30%;
}
