body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbutton {
    border-radius: 8px;
    border-width: 5px;
    border-color: linear-gradient(to right, #000, #212121);
    background-color: transparent;
    padding: 10px;
    font-size: 50px;
    margin: 8px;
    
}

.navbar {
    background: radial-gradient(circle, #454545, #000);
    text-align: center;
    border-radius: 8px;
    opacity: 70%;
    padding: 10px;
    position: fixed;
    width: 100%;
    color: #858585;
    font-size: 30px;
    text-shadow:
    -1px -1px 2px #f5f5f5,  
    1px -1px 2px #f5f5f5,
    -1px 1px 2px #f5f5f5,
    1px 1px 2px #f5f5f5;
}